<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AuthG Server</title>
    <style>
        html {
          background: black;
          color: white;
          font-family: system-ui;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>Welcome to AuthG server!</h1>
    <hr>
    <p>If you are a visitor, go to a website that use this auth server and login</p>
    <br>
    <p>If you are a server administrator, visit this project's <a href="https://github.com/ArthurZhou/authG">home page</a> to set it up</p>
    <br>
    <hr>
    <small>Powered by <a href="https://github.com/ArthurZhou/authG">AuthG</a></small>
</div>
</body>
</html>