<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AuthG Server</title>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center;">
    <h1>Welcome to AuthG server!</h1>
    <hr>
    <p>If you are a visitor, go to a website that use this auth server and login</p>
    <p>If you are a server administrator, visit this project's <a href="https://github.com/ArthurZhou/authG">home page</a> to set it up</p>
    <br>
    <hr>
    <h2>Pages under this site</h2>
    <a href="login">Login</a><br>
    <a href="register">Register</a><br>
    <a href="delete">Delete</a><br>
    <hr>
    <small>Powered by <a href="https://github.com/ArthurZhou/authG">AuthG</a></small>
</div>
</body>
</html>