<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center;">
    <h1>Login to continue</h1>
    <br>
    <form method="post">
        <label>
            <input class="textbox" name="usr" placeholder="Username" required type="text"/>
        </label>
        <br>
        <label>
            <input class="textbox" name="psw" placeholder="Password" required type="password"/>
        </label>
        <br>
        <label class="checkbox">
            <input name="remember" type="checkbox" value="true">Remember me
        </label>
        <br><br>
        <button type="submit">Login</button>
    </form>
    <br>
    <hr>
    <small>Powered by <a href="https://github.com/ArthurZhou/authG">AuthG</a></small>
</div>
</body>
</html>