<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center;">
    <h1>Register</h1>
    <br>
    <form method="post">
        <label>
            <input class="textbox" name="usr" placeholder="Username" required type="text"/>
        </label>
        <br>
        <label>
            <input class="textbox" name="psw" placeholder="Password" required type="password"/>
        </label>
        <br>
        <button type="submit">Register</button>
    </form>
    <br>
    <hr>
    <small>Powered by <a href="https://github.com/ArthurZhou/authG">AuthG</a></small>
</div>
</body>
</html>