<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        html {
            background: black;
            color: white;
            font-family: system-ui;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>Register</h1>
    <br>
    <form method="post">
        <label>Username : </label>
        <label>
            <input name="usr" placeholder="Enter Username" required type="text"/>
        </label>
        <br>
        <label>Password : </label>
        <label>
            <input name="psw" placeholder="Enter Password" required type="password"/>
        </label>
        <br>
        <button type="submit">Register</button>
    </form>
    <br>
    <hr>
    <small>Powered by <a href="https://github.com/ArthurZhou/authG">AuthG</a></small>
</div>
</body>
</html>